<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>
    Login
</h1>
<p>
    <%= message %>
</p>
<form action="/auth/login" method="POST">
    <input type="email" name="email" id="email" placeholder="Email" required>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <button>Login</button>
</form>
<p>
    Don't have an account?
    <a href="/auth/register">Register</a>
</p>
</body>
</html>